*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section{
    background-color: white;
}
.jp {
	background-image: linear-gradient(#f9a0bf, #727cf0);
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	top: 12px;
	margin-left: 59px;
}
.jk {
	background-image: linear-gradient(#f9a0bf, #727cf0);
	width: 68%;
	height: 186px;
	margin-left: 333px;
    position: relative;
    top: 166px;
}
.title img {
	width: 50%;
	margin-left: 174px;
	position: relative;
	top: -307px;
	border-radius: 20px;
}
.about {
	width: 385px;
	height: 296px;
	background-color: white;
	position: relative;
	top: -495px;
	margin-left: 652px;
	border-radius: 14px;
}
.about h1 {
	margin-left: 50px;
	position: relative;
	top: 35px;
	color: crimson;
	font-size: 39px;
    font-family: Arial, Helvetica, sans-serif;
}
.about p {
	margin-left: 50px;
	position: relative;
	top: 76px;
	line-height: 25px;
	font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.about .more {
	text-decoration: none;
	border: 1px solid black;
	padding: 5px 16px;
	position: relative;
	top: 27px;
	border-radius: 5px;
    background-color: #727cf0;
}
.about .more:hover{
    background-color: #ed1b65;
}
@media screen and (max-width:520px){
	.section{
		width: 100%;
	}
	
	.jp{
		position: relative;
		left: -41px;
		top: 75px;
	}
	.title img{
		position: relative;
		left: -57px;
		height: 237px;
		width: 70%;
		top: -240px;
	}
	.jk{
		position: relative;
		left: -200px;
		top: 118px;
	}
	.about{
		position: relative;
		margin-left: 36px;
		top: -271px;
	}
	.about p{
		width: 313px;
	}
}












